[Container]
AutoUpdate=registry
Image=ghcr.io/qdm12/gluetun:latest
ContainerName=gluetun
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
NoNewPrivileges=true
Environment=VPN_SERVICE_PROVIDER=airvpn
Environment=VPN_TYPE=wireguard
Environment=WIREGUARD_ADDRESSES='10.170.212.198/32,fd7d:76ee:e68f:a993:9ed8:94d4:1b6d:cb71/128'
Environment=SERVER_REGIONS=Europe
Environment=FIREWALL_VPN_INPUT_PORTS=14148
Secret=airvpn-wg-key,type=env,target=WIREGUARD_PRIVATE_KEY
Secret=airvpn-wg-psk,type=env,target=WIREGUARD_PRESHARED_KEY
HealthCmd=/gluetun-entrypoint healthcheck
HealthInterval=5s
HealthTimeout=5s
HealthStartPeriod=10s
HealthRetries=1
Notify=healthy
PublishPort=127.0.0.1:8080:8080/tcp
UserNS=auto
Network=private
