# jellyfin.container
[Container]
Image=docker.io/jellyfin/jellyfin:10
Pull=newer
Mount=type=volume,source=jellyfin.volume,destination=/config
Mount=type=bind,source=%h/Music,destination=/media/Music,ro
Mount=type=bind,source=%h/.cache/systemd-jellyfin,destination=/cache
PublishPort=8096:8096/tcp
SecurityLabelDisable=true
UserNS=host

[Service]
ExecStartPre=mkdir -p %h/.cache/systemd-jellyfin
