[Service]
ExecStartPre=-mkdir -p %h/.ollama

[Container]
Image=docker.io/ollama/ollama:rocm
Mount=type=bind,source=%h/.ollama,destination=/.ollama
PodmanArgs=--group-add=keep-groups
PublishPort=127.0.0.1:11434:11434
SecurityLabelDisable=true
UserNS=keep-id
Environment=OLLAMA_LLM_LIBRARY=rocm HSA_OVERRIDE_GFX_VERSION=11.0.2
AddDevice=/dev/dri
AddDevice=/dev/kfd
