[Container]
ContainerName=tailscale-mullvad
AutoUpdate=registry
Image=ghcr.io/tailscale/tailscale:latest
Mount=type=volume,source=tailscale-mullvad-state.volume,destination=/var/lib/tailscale,chown=true
Mount=type=bind,source=./serve,destination=/serve,readonly=true,relabel=private
Environment=TS_AUTH_ONCE=true
Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_ACCEPT_DNS=true
Environment=TS_SERVE_CONFIG=/serve/mullvad.json
Environment=TS_USERSPACE=false
Environment=TS_EXTRA_ARGS=--exit-node=auto:any
Environment=TS_ENABLE_HEALTH_CHECK=true
Environment=TS_TAILSCALED_EXTRA_ARGS=--no-logs-no-support
Environment=TS_SOCKS5_SERVER=localhost:1080
Secret=quadlet-tskey-auth,type=env,target=TS_AUTHKEY
AddDevice=/dev/net/tun
AddCapability=NET_ADMIN
User=0
NoNewPrivileges=true
Tmpfs=/var/run/tailscale
GlobalArgs=--hooks-dir=%h/.config/containers/oci/hooks.d
Annotation=tailscale_only=1
Notify=healthy
HealthCmd=wget -q -O/dev/null http://localhost:9002/healthz
HealthInterval=10s

[Service]
ExecStartPost=-podman exec tailscale-mullvad sh -c 'tailscale serve advertise svc:qbittorrent; tailscale serve advertise svc:slskd'
